body{
margin:0;
background:#ded9cf;
overflow-y:auto;
}

/* RELIC WALL */

.relic-wall{
width:100%;
display:flex;
flex-direction:column;
align-items:center;
}

/* EACH FRAME */

.relic-frame{

position:relative;

/* height controls scaling instead of width */
height:85vh;

/* prevents it from exceeding original border size */
max-height:1895px;

/* keeps exact border proportions */
aspect-ratio:900 / 1895;

margin:120px auto;

}

/* BORDER ART */

.border-art{

width:100%;
height:100%;

object-fit:contain;

display:block;

}

/* PRODUCT IMAGE */

.relic-product{

position:absolute;

top:26%;
left:50%;

transform:translateX(-50%);

max-width:35%;
max-height:45%;

object-fit:contain;

}
